/**
 * Document   : module-override
 * Created on : Oct 6, 2010, 8:26:07 AM
 * Author     : Jason Flatt
 * Description:
 *   This is here to show what might need to be changed in various contrib
 *   modules. These overrides do not work inside the standard theme, because
 *   Drupal loads the modules' CSS files after the theme. If you are seeing
 *   odd behavior that you want to change, look through this file for the
 *   necessary change.
 *
 *   Each comment block below identifies where, what and why to change,
 *   thusly:
 *
 *     Module: path/to/file.ext
 *     What the change fixes.
 *     element {
 *     /* Change this: * /
         original: ;
       /* to this: * /
         proposed: change;
 *     }
 */

/**
 * Devel: krumo/skins/<all>/skin.css
 * Removes extra space after the Krumo block for displaying arrays and
 * objects.
 */
div.krumo-root {
/* Change this:
  margin: 1em 0;
   to this: */
  margin: 1em 0 0;
}

/**
 * Views: css/views-admin.css
 * Removes the extra space at the bottom of the administration forms.
 * The space is not visible when the live preview is displayed.
 */
form#views-ui-preview-form,
#center form#views-ui-preview-form {
/* Change this:
  margin: 0 0 .5em 0;
   to this: */
  margin: 0;
}
