/* Title background */
.roundcorner-title-top {
  display: block;
}
.roundcorner-title-bottom {
  display: block;
  margin-bottom: 0.75em;
}
.roundcorner-title-top *,
.roundcorner-title-bottom * {
  display: block;
  height: 1px;
  overflow: hidden;
}
/*.roundcorner-title-content {
  border-left: 1px solid;
  border-right: 1px solid;
}*/

/* Block title background */
.roundcorner-block-title-top {
  display: block;
}
/*.roundcorner-block-title-bottom {
  display: block;
  margin-bottom: 0.75em;
}*/
.roundcorner-block-title-top * {
/*.roundcorner-block-title-bottom * { */
  display: block;
  height: 1px;
  overflow: hidden;
}
/*.roundcorner-block-title-content {
  border-left: 1px solid;
  border-right: 1px solid;
}*/

/* Node title background */
.roundcorner-node-title-top {
  display: block;
}
/*.roundcorner-node-title-bottom {
  display: block;
  margin-bottom: 0.75em;
}*/
.roundcorner-node-title-top * {
/*.roundcorner-node-title-bottom * {*/
  display: block;
  height: 1px;
  overflow: hidden;
}
/*.roundcorner-node-title-content {
  border-left: 1px solid;
  border-right: 1px solid;
}*/

/* Sticky node title background */
.roundcorner-sticky-title-top {
  display: block;
}
/*.roundcorner-sticky-title-bottom {
  display: block;
  margin-bottom: 0.75em;
}*/
.roundcorner-sticky-title-top * {
/*.roundcorner-node-title-bottom * {*/
  display: block;
  height: 1px;
  overflow: hidden;
}
/*.roundcorner-sticky-title-content {
  border-left: 1px solid;
  border-right: 1px solid;
}*/

/* Comment title background */
.roundcorner-comment-title-top {
  display: block;
}
/*.roundcorner-comment-title-bottom {
  display: block;
  margin-bottom: 0.75em;
}*/
.roundcorner-comment-title-top * {
/*.roundcorner-comment-title-bottom * {*/
  display: block;
  height: 1px;
  overflow: hidden;
}
/*.roundcorner-comment-title-content {
  border-left: 1px solid;
  border-right: 1px solid;
}*/

/* Comment reply background */
.roundcorner-comment-reply-top {
  display: block;
}
.roundcorner-comment-reply-top * {
  display: block;
  height: 1px;
  overflow: hidden;
}
.roundcorner-comment-reply-content {
  border-left: 1px solid;
  border-right: 1px solid;
}

/* Page opener background */
.roundcorner-page-opener-top {
  display: block;
}
.roundcorner-page-opener-bottom {
  display: block;
  margin-bottom: 0.75em;
}
.roundcorner-page-opener-top *,
.roundcorner-page-opener-bottom * {
  display: block;
  height: 1px;
  overflow: hidden;
}
.roundcorner-page-opener-content {
  border-left: 1px solid;
  border-right: 1px solid;
}

/* Main menu background */
.roundcorner-main-menu-top {
  display: block;
}
.roundcorner-main-menu-bottom {
  display: block;
  margin-bottom: 0.75em;
}
.roundcorner-main-menu-top *,
.roundcorner-main-menu-bottom * {
  display: block;
  height: 1px;
  overflow: hidden;
}
.roundcorner-main-menu-content {
  border-left: 1px solid;
  border-right: 1px solid;
}

/* Block background */
.roundcorner-block-top,
.roundcorner-block-bottom {
  display: block;
}
.roundcorner-block-top *,
.roundcorner-block-bottom * {
  display: block;
  height: 1px;
  overflow: hidden;
}
.roundcorner-block-content {
  border-left: 1px solid;
  border-right: 1px solid;
}

/* Content top block background */
.roundcorner-content-top-bottom {
  display: block;
  margin-bottom: -0.75em;
}
/*.roundcorner-content-top-bottom * {
  display: block;
  height: 1px;
  overflow: hidden;
}*/
/*.roundcorner-content-top-content {
  border-left: 1px solid;
  border-right: 1px solid;
}*/

/* Mission background */
.roundcorner-mission-top {
  display: block;
}
.roundcorner-mission-bottom {
  display: block;
  margin-bottom: 0.75em;
}
.roundcorner-mission-top *,
.roundcorner-mission-bottom * {
  display: block;
  height: 1px;
  overflow: hidden;
}
.roundcorner-mission-content {
  border-left: 1px solid;
  border-right: 1px solid;
}

/* Node background */
.roundcorner-sticky-bottom,
.roundcorner-node-top,
.roundcorner-node-bottom,
.roundcorner-node-edit-bottom {
  display: block;
}
.roundcorner-sticky-bottom *,
.roundcorner-node-top *,
.roundcorner-node-bottom *,
.roundcorner-node-edit-bottom * {
  display: block;
  height: 1px;
  overflow: hidden;
}
.roundcorner-sticky-content,
.roundcorner-node-content {
  border-left: 1px solid;
  border-right: 1px solid;
}
.roundcorner-node-edit-bottom {
  margin-bottom: 0.75em;
}

/* Comment background */
.roundcorner-comment-top,
.roundcorner-comment-bottom,
.roundcorner-comment-reply-bottom {
  display: block;
}
.roundcorner-comment-top *,
.roundcorner-comment-bottom *,
.roundcorner-comment-reply-bottom * {
  display: block;
  height: 1px;
  overflow: hidden;
}
.roundcorner-comment-content {
  border-left: 1px solid;
  border-right: 1px solid;
}
.roundcorner-comment-reply-bottom {
  padding-bottom: 0.75em;
}

/* Content background */
.roundcorner-content-top {
  display: block;
}
.roundcorner-content-bottom {
  display: block;
  margin-bottom: 0.75em;
}
.roundcorner-content-top *,
.roundcorner-content-bottom * {
  display: block;
  height: 1px;
  overflow: hidden;
}
.roundcorner-content-content {
  border-left: 1px solid;
  border-right: 1px solid;
}

/* Welcome page background */
.roundcorner-welcome-bottom {
  display: block;
  margin-bottom: 0.75em;
}
.roundcorner-welcome-bottom * {
  display: block;
  height: 1px;
  overflow: hidden;
}

/* Secondary menu background */
.roundcorner-secondary-menu-top {
  display: block;
}
.roundcorner-secondary-menu-bottom {
  display: block;
  margin-bottom: 0.75em;
}
.roundcorner-secondary-menu-top *,
.roundcorner-secondary-menu-bottom * {
  display: block;
  height: 1px;
  overflow: hidden;
}
.roundcorner-secondary-menu-content {
  border-left: 1px solid;
  border-right: 1px solid;
}

/* Footer message background */
.roundcorner-footer-message-top {
  display: block;
}
.roundcorner-footer-message-bottom {
  display: block;
  margin-bottom: 0.75em;
}
.roundcorner-footer-message-top *,
.roundcorner-footer-message-bottom * {
  display: block;
  height: 1px;
  overflow: hidden;
}
.roundcorner-footer-message-content {
  border-left: 1px solid;
  border-right: 1px solid;
}


/*
**  Left and right sides
*/
/* Both */
.roundcorner1 {
  margin-right: 6px;
  margin-left: 6px;
}
.roundcorner2 {
  margin-right: 4px;
  margin-left: 4px;
}
.roundcorner3 {
  margin-right: 2px;
  margin-left: 2px;
  height: 2px;
}
.roundcorner4 {
  margin-right: 1px;
  margin-left: 1px;
  height: 2px;
}

/* Only the left side */
.roundcorner-left1 {
  margin-left: 6px;
}
.roundcorner-left2 {
  margin-left: 4px;
}
.roundcorner-left3 {
  margin-left: 2px;
  height: 2px;
}
.roundcorner-left4 {
  margin-left: 1px;
  height: 2px;
}

/* Only the right side */
.roundcorner-right1 {
  margin-right: 6px;
}
.roundcorner-right2 {
  margin-right: 4px;
}
.roundcorner-right3 {
  margin-right: 2px;
  height: 2px;
}
.roundcorner-right4 {
  margin-right: 1px;
  height: 2px;
}
