
.roundcorner-title-top,
.roundcorner-block-title-top,
.roundcorner-node-title-top,
.roundcorner-block-top,
.roundcorner-block-bottom,
.roundcorner-node-top,
.roundcorner-node-bottom,
.roundcorner-mission-top,
.roundcorner-footer-message-top {
  display: block;
}

.roundcorner-mission-bottom,
.roundcorner-footer-message-bottom {
  display: block;
  margin-bottom: 1em;
}

.roundcorner-title-bottom,
.roundcorner-block-title-bottom,
.roundcorner-node-title-bottom {
  display: block;
  margin-bottom: 9px;
}

.roundcorner-title-top *,
.roundcorner-title-bottom *,
.roundcorner-block-title-top *,
.roundcorner-block-title-bottom *,
.roundcorner-node-title-top *,
.roundcorner-node-title-bottom *,
.roundcorner-block-top *,
.roundcorner-block-bottom *,
.roundcorner-node-top *,
.roundcorner-node-bottom *,
.roundcorner-mission-top *,
.roundcorner-mission-bottom *,
.roundcorner-footer-message-top *,
.roundcorner-footer-message-bottom * {
  display: block;
  height: 1px;
  overflow: hidden;
}

.roundcorner-title-content,
.roundcorner-block-title-content,
.roundcorner-node-title-content,
.roundcorner-block-content,
.roundcorner-node-content,
.roundcorner-mission-content,
.roundcorner-footer-message-content {
  border-left: 1px solid;
  border-right: 1px solid;
}


/*
**  Left and right sides
*/
/* Both */
.roundcorner1 {
  margin: 0 6px;
}
.roundcorner2 {
  margin: 0 4px;
}
.roundcorner3 {
  margin: 0 2px;
  height: 2px;
}
.roundcorner4 {
  margin: 0 1px;
  height: 2px;
}
.roundcorner5 {
  margin: 0 1px;
  height: 2px;
}

/* Only the left side */
.roundcorner-left1 {
  margin-left: 6px;
}
.roundcorner-left2 {
  margin-left: 4px;
}
.roundcorner-left3 {
  margin-left: 2px;
  height: 2px;
}
.roundcorner-left4 {
  margin-left: 1px;
  height: 2px;
}
.roundcorner-left5 {
  margin-left: 1px;
  height: 2px;
}

/* Only the right side */
.roundcorner-right1 {
  margin-right: 6px;
}
.roundcorner-right2 {
  margin-right: 4px;
}
.roundcorner-right3 {
  margin-right: 2px;
  height: 2px;
}
.roundcorner-right4 {
  margin-right: 1px;
  height: 2px;
}
.roundcorner-right5 {
  margin-right: 1px;
  height: 2px;
}
