/* Tops and bottoms */
.roundcorner-block-bottom,
.roundcorner-block-title-top,
.roundcorner-block-top,
.roundcorner-comment-bottom,
.roundcorner-comment-title-top,
.roundcorner-comment-top,
.roundcorner-content-top,
.roundcorner-footer-message-top,
.roundcorner-main-menu-top,
.roundcorner-mission-top,
.roundcorner-node-bottom,
.roundcorner-node-title-top,
.roundcorner-node-top,
.roundcorner-page-opener-top,
.roundcorner-secondary-menu-top,
.roundcorner-sticky-bottom,
.roundcorner-sticky-title-top,
.roundcorner-title-top {
  display: block;
}
.roundcorner-block-title-bottom,
.roundcorner-comment-title-bottom,
.roundcorner-content-bottom,
.roundcorner-footer-message-bottom,
.roundcorner-main-menu-bottom,
.roundcorner-mission-bottom,
.roundcorner-node-title-bottom,
.roundcorner-page-opener-bottom,
.roundcorner-secondary-menu-bottom,
.roundcorner-sticky-title-bottom,
.roundcorner-title-bottom {
  display: block;
  margin-bottom: 1em;
}
.roundcorner-block-bottom *,
.roundcorner-block-title-top *,
.roundcorner-block-title-bottom *,
.roundcorner-block-top *,
.roundcorner-comment-bottom *,
.roundcorner-comment-title-top *,
.roundcorner-comment-title-bottom *,
.roundcorner-comment-top *,
.roundcorner-content-bottom *,
.roundcorner-content-top *,
.roundcorner-footer-message-bottom *,
.roundcorner-footer-message-top *,
.roundcorner-main-menu-top *,
.roundcorner-main-menu-bottom *,
.roundcorner-mission-bottom *,
.roundcorner-mission-top *,
.roundcorner-node-bottom *,
.roundcorner-node-title-top *,
.roundcorner-node-title-bottom *,
.roundcorner-node-top *,
.roundcorner-page-opener-top *,
.roundcorner-page-opener-bottom *,
.roundcorner-secondary-menu-bottom *,
.roundcorner-secondary-menu-top *,
.roundcorner-sticky-bottom *,
.roundcorner-sticky-title-top *,
.roundcorner-sticky-title-bottom *,
.roundcorner-title-top *,
.roundcorner-title-bottom * {
  display: block;
  height: 1px;
  overflow: hidden;
}
.roundcorner-block-content,
.roundcorner-block-title-content,
.roundcorner-comment-content,
.roundcorner-comment-title-content,
.roundcorner-content-content,
.roundcorner-footer-message-content,
.roundcorner-main-menu-content,
.roundcorner-mission-content,
.roundcorner-node-content,
.roundcorner-node-title-content,
.roundcorner-page-opener-content,
.roundcorner-secondary-menu-content,
.roundcorner-sticky-content,
.roundcorner-sticky-title-content,
.roundcorner-title-content {
  border-left: 1px solid;
  border-right: 1px solid;
}

/* Both left and right sides */
.roundcorner1 {
  margin-right: 6px;
  margin-left: 6px;
}
.roundcorner2 {
  margin-right: 4px;
  margin-left: 4px;
}
.roundcorner3 {
  margin-right: 2px;
  margin-left: 2px;
  height: 2px;
}
.roundcorner4 {
  margin-right: 1px;
  margin-left: 1px;
  height: 2px;
}
/* Left side only */
.roundcorner-left1 {
  margin-left: 6px;
}
.roundcorner-left2 {
  margin-left: 4px;
}
.roundcorner-left3 {
  margin-left: 2px;
  height: 2px;
}
.roundcorner-left4 {
  margin-left: 1px;
  height: 2px;
}
/* Right side only */
.roundcorner-right1 {
  margin-right: 6px;
}
.roundcorner-right2 {
  margin-right: 4px;
}
.roundcorner-right3 {
  margin-right: 2px;
  height: 2px;
}
.roundcorner-right4 {
  margin-right: 1px;
  height: 2px;
}
